.row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 20px;
    background-color: blue;
    padding: 11px;
  }

h3{
	font-size: 50px;
}

p{
	font-size: 20px;
}
  
  /* Container holding the image and the text */
.container {
  position: absolute;
}

/* Bottom right text */
.text-block {
  position: absolute;
  bottom: 20px;
  right: 28%;

  color: white;
  padding-left: 20px;
  padding-right: 20px;
}
  
  
 
  
  @media (min-width: 992px) {
    .col-md-12 {
      grid-column: span 12
    }
  
    .col-md-11 {
      grid-column: span 11;
    }
  
    .col-md-10 {
      grid-column: span 10
    }
  
    .col-md-9 {
      grid-column: span 9
    }
  
    .col-md-8 {
      grid-column: span 8
    }
  
    .col-md-7 {
      grid-column: span 7
    }
  
    .col-md-6 {
      grid-column: span 6
    }
  
    .col-md-5 {
      grid-column: span 5
    }
  
    .col-md-4 {
      grid-column: span 4
    }
  
    .col-md-3 {
      grid-column: span 3
    }
  
    .col-md-2 {
      grid-column: span 2
    }
  
    .col-md-1 {
      grid-column: span 1
    }
  }

  @keyframes slidy {
	0% { left: 0%; }
	20% { left: 0%; }
	25% { left: -100%; }
	45% { left: -100%; }
	50% { left: -200%; }
	70% { left: -200%; }
	75% { left: -300%; }
	95% { left: -300%; }
	100% { left: -400%; }
	}
	
	body { margin: 0; } 
	div#slider { overflow: hidden; }
	div#slider figure img { width: 20%; float: left; }
	div#slider figure { 
	  position: relative;
	  width: 500%;
	  margin: 0;
	  left: 0;
	  text-align: left;
	  font-size: 0;
	  animation: 30s slidy infinite; 
	}
	

  
  
  
  
  
  
  
 
  